<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    strict                      = "true"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "true"
    bootstrap                   = "tests/bootstrap.php" >
    <testsuites>
        <testsuite name="stomp-php Unit Test Suite">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="stomp-php Integration Test Suite">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>